{{- if .Values.signals.opentelemetry.enabled }}
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-opentelemetry-operator
  labels:
    openshift.io/cluster-monitoring: "true"
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: opentelemetry-operator
  namespace: openshift-opentelemetry-operator
spec:
  upgradeStrategy: Default
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: opentelemetry-product
  namespace: openshift-opentelemetry-operator
spec:
  channel: {{ .Values.signals.opentelemetry.channel }} 
  installPlanApproval: Automatic 
  name: opentelemetry-product
  source: redhat-operators 
  sourceNamespace: openshift-marketplace
{{- end }}
